{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static 'js/addfriend.js' %}"></script>

<div id="loading-overlay">
    <div class="loading-icon"></div>
</div>

<div class="container">
	<din class="row">
		<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
			<div class="error_block"><center></center></div>
			<div class="success_block"><center></center></div>
			<form class='add-form' method='POST' action='.' data-url="{% url 'friend:add' %}">
		        {% csrf_token %}
		        {{form.as_p|safe}}<br>
                
		        <center>
		            <button type='submit' class="btn btn-danger">Send</button>
		            
		            <br><br>
		            
		        </center>
		           
		    </form>
		</div>
	</din>
</div>

<style type="text/css">
	.error_block{
        color:red;
        font-family:tahoma;
    }
    .success_block{
    	color:#922B21;
        font-family:tahoma;
    }



    /*css for spin*/

    #loading-overlay {
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        background-color: #000;
        z-index: 999;
        opacity: 0.5;
    }
    .loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }  
    
</style>

{% endblock %}