{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="loading-overlay">
    <div class="loading-icon"></div>
</div>
<br><br>

	<div class="container">
		<div class="row">
            <center>
            <div class="col-md-4 col-lg-4 col-sm-10 col-md-offset-4 col-lg-offset-4 col-sm-offset-1">
            <button class="btn btn-danger add">Send Requests</button><br><br>
			<h2 class="heading">Recieved requests</h2>
			{% if rec_req %}
				<table class="table table-striped">
					<tbody>
						
						{% for r in rec_req %}
							<tr id="{{ r.id }}">
					      		<td class="coming_from">{{ r.coming_from_name }}</td>
	  							<td>
	  								<button id="{{ r.id }}" class="btn btn-danger rej">Reject</button>
	  							</td>
	  							<td>
	  								<button id="{{ r.id }}" class="btn btn-success acc">Accept</button>
	  							</td>
							</tr>
  						{% endfor %}
					    
										
					</tbody>
				</table>
			{% else %}
				<h5>No recieved requests</h5>
			{% endif %}
            <hr>
			<h2 class="heading">Sent requests</h2>
			{% if send_req %}

				<table class="table table-striped">
					<tbody>
						
						{% for s in send_req %}
							<tr class="{{ s.id }}">
					      		<td class="coming_for_name">{{ s.coming_for_name }}</td>
	  							<td>
	  								<button id="{{ s.id }}" class="btn btn-danger can">Cancel</button>
	  							</td>
  							</tr>
  						{% endfor %}
					    
										
					</tbody>
				</table> 
                <button class="btn btn-danger add">Send More</button><br><br>
			{% else %}
				<h5>No sent requests</h5>
                
			{% endif %}

		</div>
        </center>	
		</div>
	</div>


<style type="text/css">
.coming_for_name{
	color:black;
}
    .heading{
        color:#ff0066;
    }
    .coming_from{
        font-weight: bold;
        color:#922B21;
    }
    /*css for spin*/

    #loading-overlay {
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        background-color: #000;
        z-index: 999;
        opacity: 0.5;
    }
    .loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

</style>
<script type="text/javascript">
    $(document).ready(function(){
    	$('.add').click(function(){
            document.location.href = "{% url  'friend:add' %}"
        });
    
        
        $('button').click(function(){
        	curr = $(this);
        	if(curr.hasClass("can") || curr.hasClass("rej")){

        		var endpoint = "{% url 'friend:del' pk=123 %}"
        		endpoint = endpoint.replace('123',this.id)
        		
        		$.ajax({
                    method: "GET",
                    url: endpoint,

                    data: "",
                    beforeSend: function(){
                        $("#loading-overlay").show();
                    },
                    success: function(data, textStatus, jqXHR){
                    	$("#loading-overlay").hide();
                    	var tr = curr.parent().parent();
                    	tr.hide();
                    	alert(data["message"]);

                    },
                    error: function(){
                    	$("#loading-overlay").hide();
                    	alert("Failed due to some reasons")
                    },
                });

        	}
        	else if(curr.hasClass("acc")){
        		var endpoint = "{% url 'friend:acc' pk=123 %}"
        		endpoint = endpoint.replace('123',this.id)
        		
        		$.ajax({
                    method: "GET",
                    url: endpoint,

                    data: "",
                    beforeSend: function(){
                        $("#loading-overlay").show();
                    },
                    success: function(data, textStatus, jqXHR){
                    	$("#loading-overlay").hide();
                    	var tr = curr.parent().parent();
                    	tr.hide();
                    	alert(data["message"]);

                    },
                    error: function(){
                    	$("#loading-overlay").hide();
                    	alert("Failed due to some reasons")
                    },
                });
        	}
        });

         
    });
</script>
{% endblock %}