    body{
        color:#212F3D;
        font-family:tahoma;
        background-image: url("{% static 'images/reg-page.jpg' %}");
        background-attachment: fixed;
        background-size:cover;

    }

    .form-div{
        display:block;
    }

    .login-btn-div{
        display:none;
    }

    .error_block{
        color:red;
        font-family:tahoma;
    }
    a{
        color:white;
    }
    a:hover{
        color:white;
    }
    
   


    /*css for spin*/
        #loading-overlay {
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        background-color: #000;
        z-index: 999;
        opacity: 0.5;
    }
    .loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }