{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="loading-overlay">
    <div class="loading-icon"></div>
</div>
<div class="container">
<div class="row">
<div class="col-md-4 col-lg-4 col-sm-10 ">


		<h1>Hello {{ user.first_name }}</h1>
		<div class="post-form-div">
			
			<form class="post-form" action="." method="POST" data-url="{% url 'status:status' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-success">Post</button>

			</form>
			
		</div>

		</div>
		<div class="col-md-4 col-lg-4 col-sm-10 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
		<div class="posts">
			{% if posts %}
				<center><h2>Posts </h2></center><hr>
				<ul class="list-unstyled">
					{% for p in posts %}
					<li>
						<p class="content">{{ p.content }}</p>
						<p>{{ p.timestamp }}</p>
						<p>Created by - {{ p.created_by_name }}</p>
						<hr>
					</li>
					{% endfor %}
				</ul>
			{% else %}
				<h2>No Posts</h2>
			{% endif %}
		</div>

	
</div>
</div>
</div>

	<style type="text/css">
		
		h1{
			color:brown;
		}
		.content{
			color:yellow;
		}

		/*css for spin*/

	    #loading-overlay {
	        position: absolute;
	        width: 100%;
	        height:100%;
	        left: 0;
	        top: 0;
	        display: none;
	        align-items: center;
	        background-color: #000;
	        z-index: 999;
	        opacity: 0.5;
	    }
	    .loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
	    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 


	</style>
<script type="text/javascript">
	var $myForm = $('.post-form')
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            var $endPoint = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $endPoint,
                data: $formData,
                beforeSend: function(){
                    $("#loading-overlay").show();
                },
                success: handleFormSuccess,
                error: handleFormError,
            });

            function handleFormSuccess(data, textStatus, jqXHR){
                $("#loading-overlay").hide();
                
                $('ul').prepend("<li> <p class='content'>"+data['content']+"</p> <p>"+data['timestamp']+"</p> <p>Created by - "+data['created_by_name']+"</p> </li>")
            }

            function handleFormError(jqXHR, textStatus, errorThrown){
                $("#loading-overlay").hide();
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
        });
</script>
{% endblock %}