{% extends 'base_for_forms.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static 'js/login.js' %}"></script>


<div id="loading-overlay">
    <div class="loading-icon"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-10 col-md-offset-8 col-lg-offset-8 col-sm-offset-10"><br><br>
			<p id="error_block"></p>
		    <form class='login-form' method='POST' action='.' data-url="{% url 'accounts:login' %}">
		        {% csrf_token %}
		        {{form.as_p|safe}}<br>
		        <center>
		        	<button type='submit' class="btn btn-success">Login</button>
		        	<button type='reset' class="btn btn-info">Clear</button>
		        	<br><br>
                    <button class="btn btn-danger forgot-password">Forgot Password</button>
                    <br><br>
		        	<a href="{% url 'accounts:register' %}"><b>New? Click here to register</b></a>
		        </center>
		        	<br><br>

		    </form>
		</div>
    </div>
</div>

<style type="text/css">

    
    #error_block{
        color:red;
        font-family:tahoma;
    }
    
    a{
        color:#212F3D;
    }

    /*css for spin*/

    #loading-overlay {
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top: 0;
        display: none;
        align-items: center;
        background-color: #000;
        z-index: 999;
        opacity: 0.5;
    }
    .loading-icon{ position:absolute;border-top:2px solid #fff;border-right:2px solid #fff;border-bottom:2px solid #fff;border-left:2px solid #767676;border-radius:25px;width:25px;height:25px;margin:0 auto;position:absolute;left:50%;margin-left:-20px;top:50%;margin-top:-20px;z-index:4;-webkit-animation:spin 1s linear infinite;-moz-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

</style>

<script type="text/javascript">
  
    function handleFormSuccess(data, textStatus, jqXHR){
        document.location.href = "{% url  'home:home' %}"
    }

    $('.forgot-password').click(function(){
        document.location.href = "{% url  'accounts:security' %}"
    });

</script>

{% endblock %}
