{% extends 'base.html' %}

{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
	<div class="container-fluid">
		<div class="row">
			<p id="pp"></p>
			<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
				<center>
					{% if pic.dp %}
					
				  		<img src="{{ pic.dp.url }}" alt="{{ user.first_name }}" class="img-thumbnail img-rounded img-responsive pro-img"><br>

				  	{% else %}

				  		{% if male %}

						<img src="{% static 'images/blank-dp-male.jpg' %}" alt="{{ user.first_name }}" class="img-thumbnail img-rounded img-responsive pro-img"><br>

						{% else %}

						<img src="{% static 'images/blank-dp-female.jpg' %}" alt="{{ user.first_name }}" class="img-thumbnail img-rounded img-responsive pro-img"><br>

						{% endif %}

					{% endif %}

				  	<a href="{% url 'accounts:change-profile-pic' %}">Change</a>
					<h3 class="name">{{ user.first_name }} {{ user.last_name }}</h3>
				 	<div class="joined">Joined - {{ user.profile.date_created }}</div>
					<br>
					<div class="btn-div">
						<div class="btn-inner-div">
							
							<button id="btn-about" class="btn btn-default btn-success ">About</button>
							<button id="btn-friends" class="btn btn-default">Friends</button>
							
							
						</div>
					</div>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="about-view">
			<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
		
				<div class="outer">
				 <div class="float-left-section">Birthdate</div>
				 <div class="float-right-section">{{ user.profile.dob }}</div> 
				</div>
				<hr>
				<div class="outer">
				 <div class="float-left-section">Gender</div>
				 <div class="float-right-section">{{ user.profile.gender }}</div> 
				</div>
				<hr>
				<div class="outer">
				 <div class="float-left-section">Mobile</div>
				 <div class="float-right-section">{{ user.profile.mobile }}</div> 
				</div>
				<hr>
				<div class="outer">
				 <div class="float-left-section">Email</div>
				 <div class="float-right-section">{{ user.email }}</div> 
				</div>
				
				
			</div>
			</div>

			<div class="friend-view">
				<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">

 					<button class="btn btn-danger add">Add more</button><br><br>
					{% if friends %}
						{% for f in friends %}
							<a href="{% url 'accounts:pseudopro' username=f.username %}"><p>{{ f.name }}</p></a>
							
							<hr>
						{% endfor %}
					{% else %}
						No Friends
					{% endif %}
				</div>
			</div>

		</div>
	</div>
	

<style type="text/css">
	.btn-div{
		display: flex;
    	justify-content: center; 
    	align-items: center;
	}
	hr{
		color:gray;
		border-top: dotted 1px;
	}
	.btn-inner-div{
		float:right;
	}
	.float-left-section{
		color:#BA4A00;
	}
	.float-right-section{
		float:right;
		color:#660000;
	}
	.cursor{
		cursor:pointer;
	}
	.about-view{
		display: block;
	}
	.friend-view{
		display:none;
	}

	.add{
		float:right;
	}
	a{
		color:white;
	}
	a:hover{
		color:white;
	}
	.pro-img {
	  width:200px;
	  height:200px;
	  margin-top:30px;
	}
	.name{
		color:#C0392B;
	}
	.joined{
		color:#ff0066;
		font-weight: bold;
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		$('.add').click(function(){
			document.location.href = "{% url  'friend:add' %}"
		});
	});
</script>
{% endblock %}